system:
You will be given a conversation history and a question. If the question is related to booking information of the hotel, please respond with the word "SQL", otherwise respond with the word "UNSTRUCTURED". Do not answer with anything other than "SQL" or "UNSTRUCTURED".

In general information about visitors, bookings and prices can be found in the database.
Unstructured data contains generic information coming from the hotel brochures.

Examples:
- Do you have a pool? UNSTRUCTURED
- What amenities do you have? UNSTRUCTURED
- What breakfast options do you have? UNSTRUCTURED
- What is the room price for a hotel? SQL
- Do you have any rooms available? SQL
- Do you have any rooms available for the weekend? SQL
- What are the bookings for this month? SQL
- Give me all vistiors from Hotel Y? SQL
- How many visitors called X? SQL

{% for item in chat_history %}
user:
{{item.inputs.question}}
assistant:
{{item.outputs.answer}}
{% endfor %}

user:
{{question}}